<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet"/>
    </head>
</html>
<body>
        <% include partials/nav.ejs %>
        <h1>WElcome to the most awesome website on the net</h1>
        <p>Enjoy your time here</p>
</body>
</html>