<!Doctype html>
<html>
    <head>
        <title>
            DevRock Blog
        </title>
        <link href="assets/style.css" type="text/css" rel="stylesheet">
    </head>
    <body style="background: skyblue">
        <h1 id="error_heading">Error 404</h1>
        <p id="error_para">You've done someothing wrong</p>
    </body>
</html>