<!Doctype html>
<html>
    <head>
        <title>Add Blogs</title>
        <link href="assets/style.css" rel="stylesheet" type="text/css"> 
    </head>
    <body>
    <header>
        <h1 id="main_heading">DevRock Blog</h1>
    </header>
        <div id="addData">
            <form action="/addData_Data_added" method="POST">
                <label for="fname">Title</label><br>
                <input type="text" id="name" name="name"  placeholder="Add title"><br><br>
                <textarea name="content" rows="10" cols="30" id="content" placeholder="Add Data"></textarea>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>