<!Doctype html>
<html>
    <head>
        <title>
            DevRock Blog
        </title>
        <link href="assets/style.css" type="text/css" rel="stylesheet">
    </head>
    <header>
        <h1 id="main_heading"><%=data.title%></h1>
        <p id="blog_content"><%=data.content%></p> 
    </header>
</html>